<h3>ProductListComponent</h3>

<p *ngIf="(productsState$ | async).error as value">{{value}}</p>
<div>
  <div>
    <app-product
      *ngFor="let product of (productsState$ | async).products"
      [product]="product"
      (editProduct)="onEditProduct($event)"
    >
      <button (click)="onEditProduct(product)">
        Edit
      </button>
      <button [disabled]="!product.isAvailable" (click)="onBuy(product)">
        Buy!
      </button>
      <button (click)="onView(product)">View</button>
      <button (click)="onDelete(product)">Delete</button>
    </app-product>
  </div>
</div>
