<form [formGroup]="orderForm" (ngSubmit)="onSave()" novalidate>
  <div>
    <label for="nameId">Name</label>
    <input
      [ngClass]="{
        error:
          (orderForm.get('name').touched || orderForm.get('name').dirty) &&
          !orderForm.get('name').valid
      }"
      type="text"
      id="nameId"
      placeholder="Name"
      formControlName="name"
    />
    <span
      class="help-block"
      *ngIf="
        (orderForm.get('name').touched || orderForm.get('name').dirty) &&
        orderForm.get('name').errors
      "
    >
      <span *ngIf="orderForm.get('name').hasError('required')">
        Please enter your first name.
      </span>
      <span *ngIf="orderForm.get('name').hasError('minlength')">
        The first name must be longer than 2 characters.
      </span>
    </span>
  </div>

  <div>
    <label for="lastnameId">Lastname</label>
    <input
      [ngClass]="{
        error:
          (orderForm.get('lastname').touched ||
            orderForm.get('lastname').dirty) &&
          !orderForm.get('lastname').valid
      }"
      type="text"
      id="lastnameId"
      placeholder="Lastname"
      formControlName="lastname"
    />
    <span
      class="help-block"
      *ngIf="
        (orderForm.get('lastname').touched ||
          orderForm.get('lastname').dirty) &&
        orderForm.get('lastname').errors
      "
    >
      <span *ngIf="orderForm.get('lastname').hasError('required')">
        Please enter your last name.
      </span>
    </span>
  </div>

  <div>
    <label for="emailId">Email</label>
    <input
      [ngClass]="{
        error:
          (orderForm.get('email').touched || orderForm.get('email').dirty) &&
          !orderForm.get('email').valid
      }"
      type="email"
      id="emailId"
      placeholder="Email"
      formControlName="email"
    />
    <span
      class="help-block"
      *ngIf="
        (orderForm.get('email').touched || orderForm.get('email').dirty) &&
        orderForm.get('email').errors
      "
    >
      <span *ngIf="orderForm.get('email').hasError('required')">
        Please enter your email address.
      </span>
      <span *ngIf="orderForm.get('email').hasError('pattern')">
        Please enter a valid email address.
      </span>
      <span *ngIf="orderForm.get('email').hasError('email')">
        Please enter a valid email address.
      </span>
    </span>
  </div>

  <div>
    <label for="phoneId">Phone</label>
    <input
      [ngClass]="{
        error:
          (orderForm.get('phone').touched || orderForm.get('phone').dirty) &&
          !orderForm.get('phone').valid
      }"
      type="text"
      id="phoneId"
      placeholder="Phone"
      formControlName="phone"
    />
    <span
      class="help-block"
      *ngIf="
        (orderForm.get('phone').touched || orderForm.get('phone').dirty) &&
        orderForm.get('phone').errors
      "
    >
      <span *ngIf="orderForm.get('phone').hasError('required')">
        Please enter your phone.
      </span>
      <span *ngIf="orderForm.get('phone').hasError('pattern')">
        Please enter a valid phone.
      </span>
    </span>
  </div>

  <div>
    <label for="deliveryId">Delivery</label>
    <input
      type="checkbox"
      id="deliveryId"
      formControlName="delivery"
    />
  </div>

  <div *ngIf="orderForm.value.delivery">
    <label for="adressId">Adress</label>
    <input
      [ngClass]="{
        error:
          orderForm.value.delivery &&
          (orderForm.get('adress').touched || orderForm.get('adress').dirty) &&
          !orderForm.get('adress').valid
      }"
      type="text"
      id="adressId"
      placeholder="Adress"
      formControlName="adress"
    />
    <span
      class="help-block"
      *ngIf="
        (orderForm.get('adress').touched || orderForm.get('adress').dirty) &&
        orderForm.get('adress').errors
      "
    >
      <span *ngIf="orderForm.get('adress').hasError('required')">
        Please enter your adress.
      </span>
      <span *ngIf="orderForm.get('adress').hasError('minlength')">
        The adress must be longer than 5 characters.
      </span>
      <span *ngIf="orderForm.get('adress').hasError('maxlength')">
        The adress must be shorter than 50 characters.
      </span>
    </span>
  </div>

  <button type="submit" [disabled]="!orderForm.valid">Submit</button>
</form>

<br />Dirty: {{ orderForm.dirty }} <br />Touched: {{ orderForm.touched }}
<br />Valid: {{ orderForm.valid }} <br />Value: {{ orderForm.value | json }}
<br />Form Status: {{ orderForm.status }}
