<p>Your purchases</p>

<div *ngIf="productList.length > 0; else msg">
  <select #selectedOption>
    <option value="price">Price</option>
    <option value="quantity">Quantity</option>
    <option value="name">Name</option>
  </select>

  <p>Selected option: {{ selectedOption.value }}</p>

  <app-cart-item
    *ngFor="let product of (productList | orderBy : selectedOption.value : 'true' : 'true')"
    [product]="product"
    (removeEmit)="onRemove($event)"
    (decreaseEmit)="decrease($event)"
    (increaseEmit)="increase($event)"
  >
  </app-cart-item>
  <p>Total number: {{ productNumber }}</p>
  <p>Cost: {{ productSum }}</p>

  <button (click)="onRemoveAll()">Remove all products</button>
</div>

<ng-template #msg>You cart is empty still</ng-template>

<!-- <button (click)="add()">tomato</button> -->