<div class="product">
  <div class="item" [ngClass]="{ warning: !product.isAvailable }">
    <p>{{ 'product' | uppercase }}</p>
    <p>Name: {{ product.name | titlecase }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price | currency: 'EUR' }}</p>
    <p>Available: {{ product.isAvailable }}</p>
    <p>Ingredients: {{ product.ingredients }}</p>
    <p *ngIf="product.weight">Weight: {{ product.weight }}</p>

    <button *ngIf="productHttpService.isDisplayed" (click)="onGoBack()">
      Back
    </button>

    <ng-content></ng-content>
  </div>

  <div>
    <button *ngIf="productHttpService.isDisplayed" (click)="onShowFeedback()">
      Show Feedback
    </button>
    <router-outlet name="feedback"></router-outlet>
    <!-- <a [routerLink]="[{ outlets: { feedback: ['feedback'] } }]">feedback</a> -->
  </div>
</div>
